#katalogi buildow i zaleznosci
node_modeles/
dist/
build/
bin/
obj/
target/

#pliki binarne i archiwa
.exe
.dll
.so
.dylib
.jar
.zip
.tar.gz
.obj
.o

#dane wrazliwe
.env
.env.local
config.json.
*.pem
secrets.txt
